html {
  height: 100%;
  overflow-y: scroll;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  height: 100%;
}

#root {
  min-height: 100%;
}

.app {
  height: 100%;
  min-height: 100%;
}

.pt-10px {
  padding-top: 10px;
}

.logo {
  cursor: pointer;
}

.modal-open {
  overflow: hidden;
}

.actions {
  width: 100%;
  display: flex;
  align-items: center;
}